@import "mixins";

:host {
  @include host()
}

mat-toolbar {
  align-items: center;
  background: $gradient__blue;
  color: $color__white;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  padding-left: 85px;
}

.page {
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: auto;
  padding: 16px 16px 16px 92px;
}
